body {
    background-color: #3c3c3c;
}

.quadrado {
    background-color: #12151E;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.logo {
    width: 250px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    margin-top: 5px;
}

.rodape {
    width: 110%;
    height: 50px;
    position: fixed;
    top: 95.1%;
    background-color: #12151E;
    left: 0%;
    z-index: 20;
}

.direitos {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    margin-top: 15px;
}

.titulo {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    font-weight: 600;
}

.complemento {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

.image1, .image2, .image3 {
    width: 80px;
    height: auto;
    position: fixed;
    transition: 0.5s;
    margin-top: 5px;
}

.image1 {
    left: 6%;
}

.image2 {
    left: 3%;
}

.image3 {
    left: 0%;
}

.image1:hover, .image2:hover, .image3:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.container {
    margin-top: 120px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 100%;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container1 {
    margin-top: 380px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 100%;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container2 {
    margin-top: 565px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 100%;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container3 {
    margin-top: 750px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 100%;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project1 {
    width: 400px;
    height: 140px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    flex-direction: column;
}
.project2 {
    width: 400px;
    height: 140px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    flex-direction: column;
}
.project3 {
    width: 400px;
    height: 140px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    flex-direction: column;
}

.project1:hover, .project2:hover, .project3:hover {
    transform: scale(1.04);
    transition: 0.5s;
    background-color: #9c9c9c;
}
.project:hover{
    background-color: #00883b;
    transform: scale(1.04);
    transition: 0.5s;
}
.project{
    width: 400px;
    height: 140px;
    background-color: #03FA6E;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    flex-direction: column;
}
.aqui {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12151E;
    color: #03FA6E;
    border-radius: 10px;
    border: solid 2px #03FA6E;
    transition: 0.5s;
}

.aqui:hover {
    transform: scale(1.03);
    transition: 0.5s;
    color: #fff;
}
.comprar {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12151E;
    color: #03FA6E;
    border-radius: 10px;
    border: solid 2px #03FA6E;
    transition: 0.5s;
}

.comprar:hover {
    transform: scale(1.03);
    transition: 0.5s;
    color: #fff;
}

.saibamais {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12151E;
    color: #03FA6E;
    border-radius: 10px;
    border: solid 2px #03FA6E;
    transition: 0.5s;
}

.saibamais:hover {
    transform: scale(1.03);
    transition: 0.5s;
    color: #fff;
}
.acessar {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12151E;
    color: #03FA6E;
    border-radius: 10px;
    border: solid 2px #03FA6E;
    transition: 0.5s;
}

.acessar:hover {
    transform: scale(1.03);
    transition: 0.5s;
    color: #fff;
}

.textp1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: -10px;
}

.h2, .h1, .p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}

.h2 {
    margin-top: 15px;
}

.h1 {
    margin-top: -180px;
}

.p {
    font-size: 17px;
    margin-top: 70px;
}

.projeto {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    left: 43%;
    position: absolute;
    margin-top: 330px;
    color: #fff;
    z-index: 999;
    transition: 0.5s;
}
.projeto:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color: #03FA6E;
}

.play {
    width: 165px;
    margin-left: 30px;
    margin-top: 20px;
    position: fixed;
    transition: 0.5s;
}

.play:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.icone {
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
    border-radius: 20px;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    left: 96.5%;
    top: 12px;
    right: 20px;
    z-index: 1001;
    color: #03FA6E;
    transition: 0.5s;
}
.menu-icon:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color: #fff;
}

/* Estilos para a barra lateral */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #12151E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
    z-index: 10;
}

.sidebar a {
    padding: 5px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    color: #03FA6E;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

.sidebar a:hover {
    background-color: #575757;
    color: #fff;
    transition: 0.5s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 35px;
    }

    .complemento {
        font-size: 18px;
    }

    .image1, .image2, .image3 {
        width: 60px;
    }

    .project {
        width: 90%;
        height: auto;
    }

    .play {
        width: 120px;
    }

    .icone {
        width: 150px;
    }

    .container {
        position: relative;
        margin-top: 290px;
    }
}

@media (max-width: 480px) {
    .titulo {
        margin-top: 12px;
        font-size: 25px;
        margin-left: -90px;
    }

    .quadrado {
        width: 100%;
        height: 70px;
    }

    .complemento {
        margin-top: 40px;
        font-size: 12px;
        margin-left: -90px;
    }

    .logo {
        width: 150px;
        height: auto;
        z-index: 9999;
        margin-top: 10px;
        left: 50%;
    }

    .image1, .image2, .image3 {
        margin-top: 10px;
        top: 0.5%;
        z-index: 9999;
    }

    .image1 {
        left: 14.5%;
        width: 40px;
    }

    .image2 {
        left: 7%;
        width: 40px;
    }

    .image3 {
        left: 0%;
        width: 40px;
    }

    .project {
        margin-top: 10px;
        width: 70%;
        height: 100px;
        transition: 0.5s;
    }

    .project:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    .play {
        width: 100px;
        margin-top: -100px;
    }

    .icone {
        width: 100px;
        margin-top: 1px;
        margin-left: -170px;
    }

    .container {
        margin-top: 140px;
        flex-direction: column;
    }

    .projeto {
        position: fixed;
        margin-top: -50px;
        font-size: 27px;
        z-index: -1;
    }

    .textp1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 25px;
        margin-left: 0px;
        margin-top: -10px;
    }

    .acessar {
        margin-top: 20px;
        width: 70%;
        height: 40px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #12151E;
        color: #03FA6E;
        border-radius: 10px;
        border: solid 2px #03FA6E;
        transition: 0.5s;
    }

    .acessar:hover {
        transform: scale(1.03);
        transition: 0.5s;
        color: #fff;
    }

    .rodape {
        top: 95%;
        height: 70px;
    }

    .direitos {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        margin-top: 10px;
        font-size: 10px;
    }
    .menu-icon {
        font-size: 35px;
        cursor: pointer;
        position: fixed;
        left: 89%;
        top: 10px;
        right: 20px;
        z-index: 1001;
        color: #03FA6E;
        transition: 0.5s;
    }
    .menu-icon:hover{
        transform: scale(1.05);
        transition: 0.5s;
        color: #fff;
    }
    
    /* Estilos para a barra lateral */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: #12151E;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 10;
    }
    
    .sidebar a {
        padding: 15px 20px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 100;
        font-style: normal;
        color: #03FA6E;
        display: block;
        transition: 0.3s;
        margin-left: 10px;
    }
    
    .sidebar a:hover {
        background-color: #575757;
        color: #fff
    }
    
    .sidebar .closebtn {
        position: absolute;
        top: -10px;
        right: 0px;
        font-size: 46px;
    }
    
}
